{% extends 'User/base.html' %}
{% block content %}
<a href="" class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                
            </div>
        </div>
    </div>
</a>
<div class="about-section my-5">
    <div class="container py-5">
        <div class="">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h2 class="display-4 text-center text-dark fw-bolder my-3 py-3">
                        About us
                    </h2>
                    <p class="h5 fw-light lh-lg">
                        FeelBeat is an innovative web application that leverages cutting-edge facial recognition technology to analyze your emotions and curate personalized music playlists. Our goal is to enhance your music experience, allowing you to explore your feelings and discover new tunes that resonate with your current mood.
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}